.search_pokemon{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    margin: 40px auto;
    width: 500px;
    gap: 20px; 
    border-radius: 10px;
}

.search_title{
    color: white;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}